<div class="container">
  <h1>Todo List</h1>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Enter New Task" #task >
      </div>
      <div class="col-sm-3 m-2">
          <button class="btn btn-success" (click)="addTask(task.value)">Add new Task</button>
      </div>
    </div>
  </div>


  <div class="col-sm-9 m-5">
    <div class="row" >
      <div class="col item" *ngFor="let item of list">
        <div class="content-i">
           <h1 class="title ">{{item.name}}</h1>
        </div>
       
        <button class="check" (click)="removeTask(item.id)" >Check &#xF26A; </button>
      </div>
    </div>
  </div>
</div>
